body { transition: 0.3s; padding: 20px; font-family: Arial; }
/* Ini yang akan aktif saat tombol diklik */
body.dark-mode { background: #121212; color: white; }
header { text-align: center; padding: 20px; }
#clock { font-size: 24px; font-weight: bold; margin: 10px 0; display: block; }
